.statistics {
  width: 230px;
  margin: 35px;
  color: #6d6d6d;
  font-size: 13px;
}

.title {
  text-align: center;
  text-transform: uppercase;
  color: #5e5e5e;
}

.statList {
  align-items: center;
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.item {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  border: 1px solid black;
  padding: 7px;
}

.item:not(:first-child) {
  border-left: none;
}
