.transactionHistory {
  border-collapse: collapse;
  border-spacing: 0px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  margin: 35px;
}

.tableRow:nth-child(even) {
  background-color: #ecf2f4;
}

.tableList {
  width: 290px;
  height: 45px;
  text-align: center;
  color: #8d939a;
  text-transform: capitalize;
}

.tableList:not(:last-child) {
  border-right: 1px solid #daddde;
}

.tableName {
  width: 290px;
  height: 45px;
  background-color: #00bdd5;
  color: white;
  text-transform: uppercase;
  font-size: 13px;
}

.tableName:not(:last-child) {
  border-right: 1px solid #fff;
}
